.ui-widget.ui-widget-content {
  border: none;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
  border: none;
  background-color: #fff;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 0px #3131312e;
}
.ui-widget-content {
  background: #f1f1f2;
}
.ui-widget-header {
  background: var(--primary-c);
}
