@import "./_mixin";
@import "./reset_var_bootstrap";
@import "./_utilitie";
@import "./_select2";
@import "./_sliderRange";
@import "./dataTables";
@import "./_bootstrapdatepicker.scss";

@font-face {
  font-family: "29LT Bukra Bold";
  src: url("../font/29LTBUKRABOLD.TTF") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: "29LT Bukra extra Bold";
  src: url("../font/29LTBUKRABOLDITALIC.TTF") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: "29LT Bukra";
  src: url("../font/29LTBUKRAREGULAR.TTF") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.6 !important;
}

body,
html {
  font-family: "29LT Bukra Bold";
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

// aside

aside {
  background-color: #2d2d2d;
  align-items: center;
  width: 6%;
  position: fixed;
  height: 100%;
  transition: transform 0.5s ease, width 0.5s ease;
  color: #ffffff;
  position: relative;
  z-index: 111111;

  @include media("laptop") {
    & {
      position: fixed;
    }
  }
  @include media("laptop") {
    & {
      transform: translatex(100%);
      width: 40% !important;
      &.active {
        transform: translatex(0);
      }
    }
  }
  @include media("mobile") {
    & {
      width: 70% !important;
    }
  }

  &.active {
    width: 27%;
    max-width: 300px;

    @include media("labtop_lg") {
      width: 35%;
    }
    @include media("labtop_xl") {
      width: 22%;
    }
  }

  &.active {
    .sha_logo {
      width: 114px;
    }
  }

  .logo-aside {
    width: 100%;
    border-bottom: 1px dashed #444444;
    img {
      width: 80px;
      transition: 0.5s;
      @include media("labtop_lg") {
        & {
          width: 60px;
        }
      }
    }
  }

  .arrow-aside {
    top: 73px;
    left: -18px;
    cursor: pointer;
    @media (max-width: 768px) {
      display: none;
    }
  }
  .list_link {
    a {
      color: var(--txt-gray-93);
      position: relative;
      z-index: 5;
      &::after {
        position: absolute;
        content: "";
        right: 0;
        top: 0;
        width: 0%;
        height: 100%;
        background-color: var(--primary-status-c);
        z-index: -1;
        border-radius: 0.5rem;
        transition: width 0.2s ease-in-out;
      }
      &.active {
        color: var(--bg-light-primary);
        background-color: var(--primary-status-c);
      }
      &:hover {
        color: var(--bg-light-primary);
        &::after {
          width: 100%;
        }
      }
    }
  }
}

.txt {
  white-space: nowrap;
  display: none;
  transition: color 0.2s;
  > div {
    gap: 5rem;
    @include media("mobile") {
      & {
        gap: 4rem;
      }
    }
  }
  .aside-link {
    cursor: pointer;
    overflow: hidden;
    transition: width 0.5s ease-in-out;
    font-size: 16px;
    min-width: 86px;
    @include media("mobile") {
      font-size: 12.9px;
      min-width: 80px;
    }
  }
}

.aside-link.swim {
  width: 100%;
  animation: swim 0.5s ease;
}

@keyframes swim {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}

section {
  .plugins {
    background-color: var(--bg-light-primary);
  }
  .user_menu {
    img {
      width: 36px;
    }
  }

  .toggle-aside {
    display: none;
    img {
      width: 20px;
    }
    @media (max-width: 768px) {
      display: inline;
    }
  }
}

.status {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #25d66c;
}

.tab .form-check {
  background-color: #f1f1f2;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  padding: 0;
}

.tab .list-group-item.active .form-check {
  border: 5px solid var(--primary-c);
}
select option:hover {
  background-color: yellow !important;
}

#drop_list {
  top: 70px;
  width: 180px;
}

.modal-content button.active .check-btn {
  background-color: #fff;
}

.nav-tabs .nav-link:hover .check-btn,
.nav-tabs .nav-link.active .check-btn {
  border: 7px solid var(--bs-success);
}
.check-btn.active {
  border: 5px solid var(--primary-c);
  width: 20px;
  height: 20px;
}
.check-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 7px solid var(--gray-200);
  background-color: #fff;
}
.aside_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.655);
  display: none;
  &.active {
    display: block;
  }
}

.error {
  font-size: 9px;
  padding-top: 5px;
  color: red;
}
.icon-site {
  background: #ebf4ff;
  width: 20px;
  height: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}

.sign-bg {
  background: url("/assets/media/svg/sign-bg.svg") no-repeat center center/cover;
}
.separate {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--gray-200);
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.form-control:disabled {
  background-color: transparent;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.img-flow {
  height: 400px;
  img {
    &:nth-child(1) {
      top: 0;
      left: -249px;
      z-index: 111;
      width: 232px !important;
      animation: flow 2.5s 0.1s infinite ease-in-out;

      @include media("mobile") {
        top: 0;
        left: -200px;
        width: 221px !important;
      }
    }
    &:nth-child(2) {
      top: 0px;
      left: 0;
      z-index: 111;
      animation: flow 2.5s 0.5s infinite ease-in-out;
    }
    &:nth-child(3) {
      top: 195px;
      left: 21px;
      z-index: 111;
      width: 228px !important;
      animation: flow 2.5s 0.2s infinite ease-in-out;
      @include media("mobile") {
        top: 166px;
        left: -12px;
        width: 214px !important;
      }
    }
    &:nth-child(4) {
      top: 183px;
      left: -218px;
      z-index: 111;
      animation: flow 2.5s 0.1s infinite ease-in-out;
      @include media("mobile") {
        left: -207px;
      }
    }
    &:nth-child(5) {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

@keyframes flow {
  0% {
    transform: translatey(0);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(00px);
  }
}
